* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* utility */

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.yellow {
  background-color: yellow;
}
.green{
  background-color: green;
}
/* /utility */


/* header */

/* /header */



/* main */

.square {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  flex-wrap: wrap;
  
}
.square_mini{
  width: calc(100%/4);
  height: calc(100%/4);
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

/* /main */



/* footer */

/* /footer */